/* styles.css */
@font-face {
  font-family: 'Nova Square';
  src: url('fonts/NovaSquare-Regular.ttf') format('truetype');
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Nova Square', sans-serif;
  
  }


  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos do cabeçalho */
  header {
  
    padding: 20px;
  }
  
nav{
  background-color: transparent !important;
}


  .custom-nav-item:hover {
    background-color: rgb(34, 34, 34); /* Substitua "green" pela cor desejada (por exemplo, #00ff00 para verde claro) */
  }
  
  /* Estilos da seção hero */
  #hero {
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .hero-content {
    text-align: center;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    background-color: rgba(255,255,255,0.07);
    border-radius: 15px;
    backdrop-filter: blur(40px);

    &:hover{
      background-color: rgb(255 255 255 / 0);
    }
  }
  
  .hero-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content span {
    color: #fff54c;
  }

  .container{
    background-color: rgba(255,255,255,0.41);
    border-radius: 15px;
    backdrop-filter: blur(40px);
  }
  
  /* Estilos da seção projects */
  #projects {
    padding: 40px 0;
  }
  
  .project {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .project h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilos da seção contact */
  #contact {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 40px 0;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(5px);
  }
  
  form button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    backdrop-filter: blur(5px);
  }
  
  /* Estilos do rodapé */
  footer {
    color: red;
    position: relative;
  }

  h3{
    position: relative;
    z-index: 1;
    margin: 0 !important;
    padding: 0;
  }
  

  
  .letter {
    display: inline-block;
    opacity: 0;
    position: relative;
    animation: fadeIn 5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .sparks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .spark {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px; /* Ajuste os valores para personalizar a forma */
    border-color: transparent transparent #bcbcbc transparent; /* Cor da folha */
    clip-path: polygon(50% 0%, 100% 35%, 80% 95%, 50% 100%, 20% 95%, 0% 35%);
    position: absolute;
    animation: sparkAnimation 1s linear;
  }
  
  @keyframes sparkAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .light {
    width: 2px;
    height: 2px;
    background-color: #b7b7b7; /* Vermelho */
    border-radius: 50%;
    position: absolute;
    animation: lightAnimation 1.5s linear;
  }
  
  @keyframes lightAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .custom-shape-divider-top-1690782601 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1690782601 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 164px;
}

.custom-shape-divider-top-1690782601 .shape-fill {
    fill: #000000;
}

.custom-shape-divider-bottom-1690784757 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1690784757 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 180px;
}

.custom-shape-divider-bottom-1690784757 .shape-fill {
  fill: #000000;
}

